
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: "Press Start 2P", system-ui;
    margin: 0;
    padding: 0;
    background-image: url('stars-galaxy.gif');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}
header {
    font-family: "Press Start 2P", system-ui;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #ffcc00; 
}
.container {
    max-width: 600px;
    margin: 20px auto;
}
.content {
    background-color: rgba(0, 0, 0, 0.696);
    padding: 20px;
    border-radius: 10px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;   
} 
li {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.5; 
    text-transform: uppercase;
    color: #ffcc00; 
}


body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-track {
    background: #222; 
}
body::-webkit-scrollbar-thumb {
    background: #ffcc00; 
    border-radius: 10px; 
}
body::-webkit-scrollbar-thumb:hover {
    background: #ffdb4d;
}